/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 70%;
    margin: auto;
} 

/* HEADER */
header {
    height: 600px;
    margin-bottom: 60px;
}
.title {
    background-color: #e579e6;
    height: 18%;
    margin-bottom: 4%;
}

.img-title {
    background-color: #e1d67a;
    height: 80%;
}

/* MAIN */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.main-container{
    background-color: #0286fc;   
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.riga {
    height: 100px;
    background-color: #abcfe7;
    margin-bottom: 15px;
}

.col-container {
    height: 600px;
    margin-bottom: 15px;  
}
   
.col {
    float: left;
    background-color: #abcfe7; 
    height: 100%;
}


.widget {
    width: 23%;
}

.central {
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.links {
    width: 23%;
}


/* FOOTER */
.footer{
    background-color: #8801fe;
    height: 100px;
}
